</main>
<section class="diagonal-ui">
    <div class="separator"></div>
    <div class="design-box"></div>
</section>
<footer>
    <p>Copyright © <%= new Date().getFullYear()%></p>
</footer>
    
</body>
</html>